html, body {
    height: 100%;
}

body {
    background-color: black;
    color: white;
}

#container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#stats {
    display: flex;
    flex-flow: row wrap;
    flex: 0;
    justify-content: center;
    font-size: larger;
}

#canvas {
    display: block;
    box-sizing: border-box;
    flex: 1 0;
    outline: none;
}