h1, html, body, div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

input, textarea, select {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button, input, select, textarea {
    width: 100%;
}

input[type=text],input[type=number],textarea {
    padding: .125em;
    border-radius: .25em;
}

button {
    font-size: 1em;
    padding: .25em;
    border-radius: .25em;
    background-color: lightgray;
    border: solid 1px lightgray;
    cursor: pointer;
}

button.button-primary {
    color: white;
    background-color: royalblue;
    border: solid 1px royalblue;
}

input[type=text],input[type=number],textarea + .button-append {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button.button-append {
    width: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

.flex-x {
    display: flex;
    flex-flow: row wrap;
}

.flex-x-no-wrap {
    display: flex;
    flex-flow: row nowrap;
}

.flex-y {
    display: flex;
    flex-flow: column wrap;
}

.flex-y-no-wrap {
    display: flex;
    flex-flow: column nowrap;
}

.button-group {
    display: flex;
    flex-flow: row nowrap;
}

.button-group button:first-child {
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
}

.button-group button:last-child {
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
}

.button-group button {
    border-radius: 0;
    border-color: darkgray;
}

.checkbox-group {
    display: flex;
    flex-flow: row wrap;
}

.checkbox-label {
    display: flex;
    flex-flow: row;
}

.checkbox-label {
    margin: .5em;
}

.checkbox-label input {
    margin-right: .125em;
}

input[type=checkbox] {
    width: 1em;
    height: .75em;
}

.checkbox-group input{
    flex: 0;
}

.checkbox-group label {
    flex: 0;
}

h1 {
    text-align: center;
}

@media print {
    .no-print {
        display: none;
    }
}


.m-1 {
    margin: .25em;
}

.m-2 {
    margin: .5em;
}

.m-3 {
    margin: 1em;
}

.m-4 {
    margin: 1.5em;
}

.m-5 {
    margin: 2em;
}

.my-1 {
    margin-top: .25em;
    margin-bottom: .25em;
}

.my-2 {
    margin-top: .5em;
    margin-bottom: .5em;
}

.my-3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.my-4 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.my-5 {
    margin-top: 2em;
    margin-bottom: 2em; 
}

.mx-1 {
    margin-left: .25em;
    margin-right: .25em;
}

.mx-2 {
    margin-left: .5em;
    margin-right: .5em;
}

.mx-3 {
    margin-left: 1em;
    margin-right: 1em;
}

.mx-4 {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.mx-5 {
    margin-left: 2em;
    margin-right: 2em; 
}

.error-message {
    color: red;
    font-size: 1.5em;
    margin: .5em;
}

a {
    color: darkslateblue;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}