#settings {
    max-width: 960px;
    margin: auto;
}

#settingsForm {
    max-width: 640px;
    margin: auto;
    padding: .5em;
    border-radius: .25em;
}

#letterGrid {
    display: flex;
}

h1 {
    text-align: center;
}

.word-list {
    margin: auto;
    margin: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    page-break-inside: avoid;
}

.word {
    padding: .25em;
    margin: .25em;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: .25em;
    cursor: pointer;
}

.word.found {
    text-decoration: line-through;
    font-weight: lighter;
}

#gridCanvas {
    display: block;
    border: 2px solid lightblue;
    border-radius: 1em;
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
    padding: 4px;
    touch-action: none;
}

#success {
    font-size: 1.5em;
    color: green;
    font-weight: bold;
    text-align: center;
}