@import "../shared/shared.css";
html, body {
    height: 100%;
}

#imageAcquisitionUi {
    max-width: 512px;
    padding: 1em;
}

#fileDropBox {
    width: 100%;
    height: 8em;
    border: dashed .25em royalblue;
    border-radius: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

#acquireImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1em;
}

#imageSizeUi {
    height: 100%;
    display: flex;
    flex-flow: column;
    padding: 1em;
}

#imageSizeCanvas {
    flex: 1;
    box-sizing: border-box;
}

#camera {
    display: block;
    margin: 1em auto;
}

#imageSizeControls {
    display: flex;
    justify-content: center;
}

#playUi {
    max-height: 100%;
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    box-sizing: border-box;
    overflow: hidden;
}

#canvas {
    flex: 1;
    touch-action: none;
    box-sizing: border-box;
}

#palette {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
}

.palette-entry {
    flex: 1;
    text-align: center;
    padding: .25em;
    cursor: pointer;
    border: transparent solid .25em;
    min-width: 3em;
}

.palette-entry.selected {
    border: black solid .25em;
    font-weight: bold;
}

.modal-background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .75;
    margin: auto;
}

#loadingImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}

#galleryUi {
    width: 100%;
    padding: 1em;
    margin: auto;
}

#cbns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery-entry:hover {
    cursor: pointer;
}

.gallery-image {
    width: 256px;
    object-fit: contain;
    border: solid 2px darkgray;;
}

.gallery-delete-button {
    position: absolute;
    width: auto;
    height: auto;
    background-color: red;
    margin-left: -1.4em;
    margin-top: .05em;
}