#loadUi {
    max-width: 512px;
    padding: 1em;
}

html, body {
    height: 100%;
}

#fileDropBox {
    width: 100%;
    height: 8em;
    border: dashed .25em royalblue;
    border-radius: .25em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

#acquireImage {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1em;
}

#playUi {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow:  column nowrap;
}

canvas {
    flex: 1;
    box-sizing: border-box;
}

#camera {
    display: block;
    margin: 1em auto;
}

#maxDim {
    text-align: center;
}

#canvas {
    touch-action: none;
}

#palette {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
}

.palette-entry {
    flex: 1;
    text-align: center;
    padding: .25em;
    cursor: pointer;
    border: transparent solid .25em;
    min-width: 3em;
}

.palette-entry.selected {
    border:  black solid .25em;
    font-weight: bold;
}